body {
	font-family: 'Open Sans', sans-serif;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	padding: 0.8rem;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background-color: white;
}

nav li{
	list-style-type: none;
	margin: 0.5rem;
	display: inline;
}
#apply{
	border: 1px transparent; solid;
	border-radius: 25px;
	font-weight: bold;
	padding: 0.8rem;
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
}
#apply:hover{
	background-color:#c2198b ;
	background-origin: top;
}
main{
	font-family: 'Zilla Slab', serif;	
}
.bg-landing{
	background: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 50vh;
    z-index: 0;
    padding: 1rem 20rem;
    margin-top: 4.4em;
}
#bg-black{
	background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.landing-content{
	position: relative;
	color: white;
	text-align: right;
	margin: 0;
	z-index: 2;
}

.landing-content h1{
	padding: 0 0em 1em 15em;
	font-size: 2.5rem;
}
.landing-content p{
	padding: 0 0em 5em 40em;
	font-size: 1.3rem;
}

.content{
	font-family: 'Zilla Slab', serif;
	min-height: 20vh;
	padding: 1em 10em 3em 10em ;
	font-size: 1.5rem;
}
.tab h2{
	padding: 2em;
	text-align: center;
}

.pre-footer{
	text-align: center;
	background-color: #f7fbfb;
	min-height: 20vh;
}
.pre-footer h2{
	padding: 1em 0;
	font-size: 2.8rem;
}
.pre-footer p{
	padding-bottom: 4rem;
}
.pre-footer button{
	padding: 1rem 2.5rem;
	border-radius: 25px;
	border: 1px transparent solid;
	background-color: #336589;
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
}
.pre-footer button:hover{
	background-color: #336530;
}

footer{
	padding: 0.7rem;
	text-align: center;
}
footer span {
	margin: 0 0.5rem;
}


