:root {
	--primary-color:#0000FF;
	--primary-font: "Helvetica", "Arial", sans-serif ;
}


#div-1{
	background-color: green;
}

#span-1{
	background-color: purple;
}

#span-2{
	background-color: red;
}

#div-2{
	background-color: hotpink;
}
#img{
	width: 250px;
	height: 250px;
}
#p-1{
	background-color: #87cefa;
	width: 60%;
}
#p-2{
	background-color: rgb(255,105,180);
}
#p-3{
	background-color: yellow;
	width: 40%;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black
	text-align: center;
}

.img-float{
	width: 250px;
	height: 250px;
	float: initial;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-px{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
}

/*viewport*/
.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

.background{
	min-height: 20rem;
	background: gray;
	/*min-height: 100vh;*/
	background: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
	
}

.bg-title{
	color: white;
	text-align: center;
	font-size: 5em;
	line-height: 35rem;
	margin: 0;
}

.parent-element{
	background-color: skyblue;
	padding: 10px;
}
.child-one{
	background-color: gray;
	padding: 10px;
}
.child-two{
	background-color: blue;
	padding: 10px;
}
.child-three{
	padding: 10px;
	background-color: navy;
}